<header>
  <div class="menu-container">
    <div class="logo">
      <a href="{{ "/" | relative_url }}">
        <img src="{{ "/img/david-maliglowka-logo.png" | relative_url }}" alt="David Maliglowka Logo"/>
      </a>
    </div>
    <nav class="display-none">
      <ul class="menu">
        <li class="blog">
          <a href="{{ "/blog" | relative_url }}">Blog</a>
        </li>
        <li class="podcast">
          <a href="">Podcast</a>
        </li>
        <li class="work">
          <a href="">Work</a>
        </li>
      </ul>
    </nav>
    <a class="CTA-button display-none" href="mailto:david@maliglow.com">
      Talk with Me
    </a>
    <div class="mobile-menu-trigger">
      <input id="burger" type="checkbox" >
        <!-- Hamburger icon -->
      <label for="burger">
          <span></span>
          <span></span>
          <span></span>
      </label>
    </div>

  </div>
</header>
