---
layout: default
---

<section class="first-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h2>David Maliglowka</h2>
          <span>&mdash; Product Designer &mdash;</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="second-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <h2 class="hey">Hey, I'm David</h2>
        <p>
          TL;DR I'm a designer, developer, and entrepreneur. Basically I find problems, solve them, and then build solutions to those problems.
        </p>
        <p>
          In college I co-founded a company, Drops, which made it easy for people to donate their spare change to charity. We attracted awesome advisors like <strong>Sean Rad</strong> (Founder Tinder) and <strong>Jessica Jackley</strong> (Founder Kiva). We launched partnerships with amazing nonprofits including the <strong>United Nations Foundation</strong> and launched the app on the season finale of <strong>Apple's Planet of the Apps</strong>. It even got me featured in the <strong>Los Angeles Business Journal</strong>'s 20 in their 20s.
        </p>
        <p>
          This website is a work in progress. I'll be updating it in my freetime, but my goal is to make it a place to showcase all the ideas I play with.
        </p>
      </div>
      <!-- <div class="col-md-4" style="position:relative">
          <img src="img/left-image.png" style="position:absolute; top: -200px;" alt="">
      </div> -->
    </div>
  </div>
</section>

 <!-- <section class="third-section">
  <div class="container">
    <div class="row">
      <form id="contact" action="" method="post">
        <div class="col-md-6">
          <fieldset>
            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
          </fieldset>
        </div>
        <div class="col-md-6">
          <fieldset>
            <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
          </fieldset>
        </div>
        <div class="col-md-12">
          <fieldset>
            <button type="submit" id="form-submit" class="btn">Send Message</button>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="fourth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="portfolio-item first-item">
          <div class="image">
            <a href="img/01-big-item.jpg" data-lightbox="image-1"><img src="img/first-item.jpg"></a>
          </div>
          <div class="text">
            <span>Nature</span>
            <h4>Robotic Light</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="portfolio-item second-item">
          <div class="image">
            <a href="img/02-big-item.jpg" data-lightbox="image-1"><img src="img/second-item.jpg"></a>
          </div>
          <div class="text">
            <span>Architect</span>
            <h4>Rock Solid</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="portfolio-item third-item">
          <div class="image">
            <a href="img/03-big-item.jpg" data-lightbox="image-1"><img src="img/third-item.jpg"></a>
          </div>
          <div class="text">
            <span>Focus</span>
            <h4>Clean Design</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="send-to-portfolio">
          <span>Do you want to see more?</span>
          <div class="primary-button">
            <a href="portfolio-page.html">Visit gallery</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fivth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="left-text col-md-8">
          <h4><em>Aliquam efficitur</em><br>augue et libero vulputate feugiat</h4>
          <p>Mauris eget orci porta, aliquam neque sit amet, porttitor dui. Donec efficitur vehicula justo quis varius. Vivamus pharetra lorem eget turpis ornare tempus. Vivamus ac sodales lectus. Morbi rhoncus feugiat neque ultrices rhoncus. Maecenas ultrices, nisl pellentesque hendrerit dignissim, ante purus hendrerit urna, eu tristique est massa quis risus.</p>
        </div>
        <div class="right-image col-md-4">
          <img src="img/right-image.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sixth-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <form id="contact" action="" method="post">
            <div class="col-md-6">
              <fieldset>
                <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
              </fieldset>
            </div>
            <div class="col-md-6">
              <fieldset>
                <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
              </fieldset>
            </div>
            <div class="col-md-12">
              <fieldset>
                <button type="submit" id="form-submit" class="btn">Send Message</button>
              </fieldset>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-5">
        <div class="right-info">
          <ul>
            <li><a href="#"><i class="fa fa-envelope"></i>hello@company.com</a></li>
            <li><a href="#"><i class="fa fa-phone"></i>050 060 0780 / 050 060 0110</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i>1186 New Street, ST 10990</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
